# Transformation of Raw Finance Data for Forecast.

* Takes in raw data from a specified location.

* Transforms Data. 

* Outputs.

In [59]:
import sys,os
from pathlib import Path
from time import sleep

sys.path.append(
    os.path.abspath(
        r"S:\Data\Stores Payroll\FY21\99_Master Scripts (DO NOT EDIT)\dB_Connector"))

from connector import *

sys.path.append(
    os.path.abspath(
        r"S:\Data\Stores Payroll\FY21\99_Master Scripts (DO NOT EDIT)\common_functions"))

from halfords_functions import newest, halfords_week


import pandas as pd
from datetime import datetime
import shutil
import re
import numpy as np
import sys

In [2]:
raw_path = r'S:\Data\Stores Payroll\FY21\05_Forecasts_FY21\Finance Files to Transform\raw_data'

In [27]:
print("Please select the file you would like to use by selecting the number listed next to the file.")


files_,numbers_ = [],[]


for num,file in enumerate(Path(raw_path).glob('*.xlsx'),start=1):
    print(num,':',file.name)
    numbers_.append(num)
    files_.append(file)

Please select the file you would like to use by selecting the number listed next to the file.
1 : Vols Breakback - Sukh - Copy.xlsx
2 : Vols Breakback - Sukh.xlsx

In [4]:
files = [x for x in Path(raw_path).glob('**/*') if x.is_file()]

In [5]:
nums_ = [i for i in range(1,len(files)+1)]

ValueError: invalid literal for int() with base 10: 'z'

In [15]:
while True:
    cmd = input(f"Select your number between {min(nums_)} - {max(nums_)} :")
    try:
        if int(cmd) in nums_:
            break
    except ValueError:
        print(f"Please select a number between {min(nums_)} - {max(nums_)}")
    else:
        print(f"Please select a number between {min(nums_)} - {max(nums_)}")

Select your number between 1 - 2 :15
Please select a number between 1 - 2
Select your number between 1 - 2 :1

In [31]:
file_dict = dict(zip(numbers_,files))

Reading in: Vols Breakback - Sukh - Copy.xlsx

In [42]:
xl = pd.ExcelFile(file_dict[int(cmd)])

In [47]:
print(f"The sheet names from this file are:\n{xl.sheet_names}")

The sheet names from this file are:
['Sheet1']

In [48]:
df = pd.read_excel(xl)

In [54]:
print(f"These are the columns we will unpivot\n{df.iloc[:,:3].columns.tolist()}")

These are the columns we will unpivot
['Type', 'Store', 'PG']

In [66]:
print(
    f"These are the week columns with the relevant data\n{df.iloc[:,3:].columns.tolist()[0]} to {df.iloc[:,3:].columns.tolist()[-1]} "
)

These are the week columns with the relevant data
2019001 to 2019053

In [56]:
print("is this correct?")

is this correct?

In [61]:
while True:
    cmd_2 = input("Please Select [Y] \ [N] : ")
    if cmd_2.lower().strip() == 'y':
        break
    elif cmd_2.lower().strip() == 'n':
        print("Exiting Program, please correct your data and proceed. the first \nthree columns should be Type, Store & PG")
        sys.exit()
    else:
        print("Please Select Y or N")

Please Select [Y] \ [N] : n
Exiting Program, please correct your data and proceed. the first
three columns should be Type, Store & PG

SystemExit:

C:\Users\hal01845\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3304: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [69]:
#melted_columns 
ml_c = df.iloc[:,:3].columns.tolist()

In [97]:
final_ = pd.melt(df, id_vars=[ml_c[0], ml_c[1], ml_c[2]], var_name='Week',value_name='Volumes')

In [98]:
final_['Week'] = final_['Week'].astype(str).str[-3:]

In [104]:
final_['Week'] = final_['Week'].astype(int)

In [119]:
week_selector = []

for i in range(1,54):
    week_selector.append(i)

In [120]:
while True:
    cmd_3 = input("Select a minimum start between 1-53: ")
    try:
        if int(cmd_3) in week_selector:
            break
    except ValueError:
        print("Select a valid week.")
    else:
        print("Select a valid week.")
        
final_ = final_.loc[final_['Week'] >= int(cmd_3)]

Select a minimum start between 1-53: 53

In [123]:
int(cmd_3)

53

In [99]:
final_[['Week','Store','PG','Volumes']].fillna(0)

        Week  Store  PG     Volumes
0        001  321.0  AA         NaN
1        001  571.0  AA    0.000000
2        001  572.0  AA    0.000000
3        001  800.0  AA    0.000000
4        001  801.0  AA    0.000000
5        001  802.0  AA    0.000000
6        001  803.0  AA    0.000000
7        001  804.0  AA    0.000000
8        001  805.0  AA    0.000000
9        001  806.0  AA    0.000000
10       001  808.0  AA    0.000000
11       001  810.0  AA    0.000000
12       001  811.0  AA    0.000000
13       001  813.0  AA    0.000000
14       001  815.0  AA    0.000000
15       001  817.0  AA    0.000000
16       001  818.0  AA    0.000000
17       001  573.0  AA    0.000000
18       001  574.0  AA    0.000000
19       001  575.0  AA    0.000000
20       001  576.0  AA    0.000000
21       001  577.0  AA    0.000000
22       001  578.0  AA    0.000000
23       001  579.0  AA    0.000000
24       001  580.0  AA    0.000000
25       001  581.0  AA    0.000000
26       001  582.0  AA    0.000000
27       001  583.0  AA    0.000000
28       001  584.0  AA    0.000000
29       001  585.0  AA    0.000000
...      ...    ...  ..         ...
4479689  053  869.0  MU    3.000000
4479690  053  895.0  MV   48.000000
4479691  053  895.0  MS  100.000000
4479692  053  895.0  MU   12.000000
4479693  053  967.0  MV   25.000000
4479694  053  967.0  MS   24.000000
4479695  053  967.0  MU    1.000000
4479696  053   10.0  YC    4.671944
4479697  053  217.0  YC    6.010930
4479698  053  354.0  YC    2.913777
4479699  053  359.0  YC    2.889347
4479700  053  380.0  YC    2.280500
4479701  053  398.0  YC    6.794653
4479702  053  402.0  YC   11.084216
4479703  053  416.0  YC    5.653593
4479704  053  552.0  YC   12.699698
4479705  053  557.0  YC    7.875730
4479706  053  578.0  YC   11.626355
4479707  053  713.0  YC    9.143274
4479708  053  716.0  YC    8.209633
4479709  053  739.0  YC    4.334053
4479710  053  763.0  YC    9.767055
4479711  053  789.0  YC    9.039159
4479712  053  805.0  YC    9.149915
4479713  053  852.0  YC    8.638829
4479714  053  873.0  YC    9.562830
4479715  053  878.0  YC    7.843408
4479716  053  885.0  YC    8.586305
4479717  053  976.0  YC    9.530024
4479718  053  996.0  YC   13.942723

[4479719 rows x 4 columns]